{% extends "base.html" %}

{% block title %}View Recipe|RecipeGen{% endblock title %}


{% block style %}

<style>
   
    .container-custom {
        max-width: 700px;
        margin-top: 50px;
        background: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .btn {
        background-color: #ffc107;
        border: none;
        color: #000;
    }
    .btn:hover {
        background-color: #e0a800;
    }
</style>

{% endblock style %}

{% block navlinks %}


    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_dashboard' %}">Dashboard</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'generate_recipe' %}">Generate recipe</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'favourite_recipe' %}">Favourite Recipe</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'user_settings' %}">Settings</a>
    </li>

{% endblock navlinks %}


{% block messages %}{% endblock messages %}
    
{% block content %}


    {% comment %} <h4>Instructions:</h4>
    <p></p>
</div> {% endcomment %}



<div class="container container-custom">
    <h2 class="text-center mb-4">{{ recipe.title }}</h2>
    <p class="text-muted text-center">{{ recipe.description }}</p>
    
    <h4>Ingredients:</h4>
    <ul class="list-group mb-4">
        {% for item in ingredients %}
            <li>{{ item.ingredient.name }} - {{ item.quantity }} g</li>
        {% endfor %}
    </ul>

    <h4>Category</h4>
        <div>
            <p>{{recipe.category}}</p>
        </div>

    <h4>Step-by-Step Instructions:</h4>
   
            <div>
                <ul>
            
                <li> {{ recipe.instruction }}</li>

                </ul>
            </div>
    <h4>Cooking Time: </h4>
            <p>{{recipe.cook_time}} min</p>
    
    <div class="d-flex justify-content-between">
        <a href="{% url 'nutritional_info' recipe_id=recipe.id %}" class="btn w-30 me-2">Nutritional Info</a>
        <a href="{% url 'toggle_favorite' recipe.id %}" class="btn w-50 me-2">
            {% if recipe in user.favorite_recipes.all %}
                Remove from Favorite
            {% else %}
                Add to Favorite
            {% endif %}
        </a>
        <a href="{% url 'addreview_rating' recipe.id%}"class="btn w-50">Add Review & Rating</a>
    </div>
</div>

{% endblock content %}

{% block script %}{% endblock script %}
