{% extends "base.html" %}

{% block title %}Create Recipe|RecipeGen{% endblock title %}


{% block style %}{% endblock style %}

{% block navlinks %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'chef_dashboard' %}">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'view_myrecipe' %}">View Recipe</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'view_review' %}">View Reviews</a>
</li>

{% endblock navlinks %}

{% block content %}
<div class="container" style="max-width: 750px;">
    <div class="card p-2">
        <h4 class="text-center text-dark mb-2">Create Recipe</h4>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Now, it will include the applied styles -->

            <div class="mb-2">
                <label class="small">Ingredients:</label>
                {{ ingredient_formset.management_form }}
                {% for ingredient_form in ingredient_formset %}
                    <div class="d-flex mb-1">
                        {{ ingredient_form.ingredient_name }}
                        {{ ingredient_form.ingredient_quantity }}
                    </div>
                {% endfor %}
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-zom btn-sm w-50">Submit</button>
                <input type="reset" class="btn btn-zom btn-sm w-50">
            </div>
        </form>
    </div>
</div>
{% endblock content %}
