{% extends 'base.html' %}
{% block title %}My Recipe|RecipeGen{% endblock title %}

{% block navlinks %}

<li class="nav-item">
    <a class="nav-link" href="{% url 'chef_dashboard' %}">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'create_recipe' %}">Add Recipe</a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{% url 'view_review' %}">View Reviews</a>
</li>


{% endblock navlinks %}

{% block content %}
<div class="container my-4">
    <h2 class="text-center mb-4">🍽️ My Recipes</h2>

    {% if recipes %}
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card shadow-sm mb-4">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'recipe_detail' recipe.id %}" class="text-decoration-none text-dark">
                                    {{ recipe.title }}
                                </a>
                            </h5>
                            <p class="badge bg-primary">{{ recipe.category }}</p>
                            <p class="text-muted"><i class="fas fa-clock"></i> {{ recipe.cook_time }} min</p>
                            <p class="card-text text-truncate">{{ recipe.description }}</p>
                            <p>{{recipe.instruction}}
                            <p class="text-muted mt-2"><small>Created on {{ recipe.created_at|date:"F j, Y" }}</small></p>
                            <div class="d-flex justify-content-between mt-2">
                                <a href="{% url 'edit_recipe' recipe.id %}" class="btn btn-zom w-50 me-2">Edit</a>
                            
                                <form action="{% url 'delete_recipe' recipe.id %}" method="post" class="w-50">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-zom w-100">Delete</button>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            <p>You haven't created any recipes yet.</p>
        </div>
    {% endif %}
</div>
{% endblock %}
